* {
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Pickle-Standard-Italic";
    src: url("./fonts/bb-bureau-Pickle-StandardItalic.eot"); /* IE9 Compat Modes */
    src: url("./fonts/bb-bureau-Pickle-StandardItalic.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
      url("./fonts/bb-bureau-Pickle-StandardItalic.otf") format("opentype"), /* Open Type Font */
      url("./fonts/bb-bureau-Pickle-StandardItalic.svg") format("svg"), /* Legacy iOS */
      url("./fonts/bb-bureau-Pickle-StandardItalic.ttf") format("truetype"), /* Safari, Android, iOS */
      url("./fonts/bb-bureau-Pickle-StandardItalic.woff") format("woff"), /* Modern Browsers */
      url("./fonts/bb-bureau-Pickle-StandardItalic.woff2") format("woff2"); /* Modern Browsers */
    font-weight: normal;
    font-style: normal;
  }

:root {
    --col: rgb(0,0,0);
    
  }

::selection {
    background-color: #222;
    color: white;
}

html {
    background-color: darkgrey;
}

body{
    font-family: "Pickle-Standard-Italic";
    color:darkgray;
    font-size: 36px;
    background-color: white;
    -webkit-font-smoothing: antialiased;
}

ul {
    color: white;  
}

li>span:hover {
    background-color:var(--col);
    color: #fff;
}

a {
    text-decoration: none;
    color:darkgray;
}

li>span:hover a {
    color:yellow;
}

.line {
    display: flex;
    width: 100%;
    flex-direction: row;
}

.content {
    padding: 15px;
    width: 100%;
}

.magic {
    flex: 11;
}


.wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
}


     